# VS Code
.vscode/
*.code-workspace
.history/

# JetBrains IDEs (IntelliJ, PyCharm, WebStorm, etc)
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# Eclipse
.settings/
.classpath
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Sublime Text
*.sublime-workspace
*.sublime-project

# Visual Studio
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
.builds/
*.suo
*.user
*.userosscache
*.sln.docstates

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Common build directories
dist/
build/
target/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env/
.venv/
ENV/
*.egg-info/
.eggs/
*.egg

# Java
*.class
*.jar
*.war
*.ear
*.logs
.gradle/

**/mosquitto/data
**/mosquitto/log